.container
  .main_head
    %h2.center-align
      HTML
  %hr
  %p
    This portion is to explain how HTML works. HTML is a markup language used for structuring and presenting content on the World Wide Web. It was finalized, and published, on October 28th 2014 by the World Wide Web Consortium. This is the fifth revision of the HTML standard since the inception of the World Wide Web. HTML is known as Hyper Text Markup Language, which is the basic layout of a webpage including the title, text, forms, etc, etc.
  %hr
  %br
  %h4.center-align
    Header Tags
  %table.bordered
    %thead
      %tr
      %th{"data-field" => "h1"} h1
      %th{"data-field" => "h2"} h2
      %th{"data-field" => "h3"} h3
      %th{"data-field" => "h4"} h4
      %th{"data-field" => "h5"} h5
    %tbody
      %tr
        %td
          %p
            ='<h1>This</h1>'
        %td
          %p
            ='<h2>Text</h2>'
        %td
          %p
            ='<h3>Is</h3>'
        %td
          %p
            ='<h4>Getting</h4>'
        %td
          %p
            ='<h5>Smaller</h5>'
      %tr
        %td
          %h1
            = 'This'
        %td
          %h2
            = 'Text'
        %td
          %h3
            = 'Is'
        %td
          %h4
            = 'Getting'
        %td
          %h5
            = 'Smaller'
  %br
  %br
  %br
  %h4.center-align
    Creating Content
  %table.bordered
    %thead
      %tr
      %th{"data-field" => "p"} Paragraph Tag
      %th{"data-field" => "bold"} Bold Text
      %th{"data-field" => "underline"} Underline Text
      %th{"data-field" => "italics"} Italic Text
      %th{"data-field" => "br"} Line break
    %tbody
      %tr
        %td
          %p
            ='<p>The paragraph tag allows you to create content.</p>'
        %td
          %p
            ='<strong>bold text<strong>'
          %p
            or
          %p
            ='<b>bold text</b>'
        %td
          %p
            ='<u>This text is underlined</u>'
        %td
          %p
            ='<i>This is in Italics</i>'
        %td
          %p
            ='This creates<br>a line break</br>'
      %tr
        %td
          %p
            = 'The paragraph tag allows you to create content.'
        %td
          %b
            = 'Bold Text'
        %td
          %u
            = 'This text is underlined'
        %td
          %i
            = 'This is in Italics'
        %td
          %p
            = 'This creates'
            = 'a line break'  
