.container
  .main_head
    %h1.center
      Learn about Has_Many_Through Associations!
  %hr
    %p.hmt-intro.hide
      An association that is used commonly is a has many through association. In the following example, #{@couple.name} have many vendors; One of which is #{@vendor.name}. Notice that in the second set of tables. #{@vendor.name} is the vendor this time. #{@vendor.name} also happens to have #{@couple.name} as a couple as well. This is made possible through a third table(model) named "Contracts". The function of the third table is to function as a through table with the same id's. In essence, one could simply call "Couple.find(1).vendors".
  %hr
    .center
      %a.hmt-reveal.centerwaves-effect.waves-light.btn-large
        %i.material-icons.left> games
        Click for awesomeness
      .row
        .col.s12.m6
          %table.hmt-couple.bordered.hide
            %thead
              %tr
                %th{"data-field" => "Couple Id"} Couple Id
                %th{"data-field" => "name"} Name
                %th{"data-field" => "Wedding Date"} Wedding Date
              %tbody
                %tr
                  %td
                    = @couple.id
                  %td
                    = @couple.name
                  %td
                    = @couple.wedding_date
        .col.s12.m6
          %table.hmt-vendor.bordered.hide
            %thead
              %tr
                %th{"data-field" => "Vendor Id"} Vendor Id
                %th{"data-field" => "Vendor Name"} Vendor name
                %th{"data-field" => "Vendor function"} Vendor Type
              %tbody
                %tr
                  - @vendors.each do|vendor|
                    %td
                      = vendor.id
                    %td
                      = vendor.name
                    %td
                      = vendor.function
                    %tr

      .row
        .col.s12.m6
          %table.hmt-vendor.bordered.hide
            %thead
              %tr
                %th{"data-field" => "Vendor Id"} Vendor Id
                %th{"data-field" => "Vendor Name"} Vendor Name
                %th{"data-field" => "Vendor Location"} Vendor Location
                %th{"data-field" => "Vendor function"} Vendor Type
              %tbody
                %tr
                  %td
                    = @vendor.id
                  %td
                    = @vendor.name
                  %td
                    = @vendor.location
                  %td
                    = @vendor.function
        .col.s12.m6
          %table.hmt-couple.bordered.hide
            %thead
              %tr
                %th{"data-field" => "Couple Id"} Couple Id
                %th{"data-field" => "Couple Name"} Couple Name
                %th{"data-field" => "Couple Wedding Date"} Couple Wedding Date
              %tbody
                %tr
                  - @couples.each do|couple|
                    %td
                      = couple.id
                    %td
                      = couple.name
                    %td
                      = couple.wedding_date
                    %tr
  %br
  %hr
    .row
      .col.s12.m12
        %h3.contract-intro.center.hide
          Contract Table
        .col.s12.m8.offset-m2
          %table.hmt-contract.bordered.hide
            %thead
              %tr
                %th.center-align{"data-field" => "Vendor Id"} Vendor Id
                %th.center-align{"data-field" => "Couple Id"} Couple id
              %tbody
                %tr
                  %td.center-align
                    = @contract.vendor_id
                  %td.center-align
                    = @contract.couple_id

= link_to 'Back to Active Record Home', ar_home_path
