.container
  .main_head
    %h1.center
      Learn about Has_Many Associations!
  %hr
    %p.hm-intro.hide
      An association that is used commonly is a has many association. In the following example, #{@user.name} has many doctors. These include #{@doctor1.name} and #{@doctor2.name}. Notice that #{@user.name} user id is #{@user.id}. If we look at the Doctors Table, they have the same user id as the first table but different individual id's. This is how one "User" can have many Doctor's.
  %hr
    .center
      %a.hm-reveal.centerwaves-effect.waves-light.btn-large
        %i.material-icons.left> games
        Click for awesomeness
      .row
        .col.s12.m5
          %table.hm-user-table.hide
            %thead
              %tr
                %th{"data-field" => "User Id"} User Id
                %th{"data-field" => "User Name"} Name
                %th{"data-field" => "Age"} Age
              %tbody
                %tr
                  %td
                    = @user.id
                  %td
                    = @user.name
                  %td
                    = @user.age

        .col.s12.m7
          %table.hm-doctor-table.hide
            %thead
              %tr
                %th{"data-field" => "User Id"} User Id
                %th{"data-field" => "Doctor Id"} Doctor Id
                %th{"data-field" => "Doctor Name"} Doctor name
                %th{"data-field" => "Doctor function"} Doctor Type
              %tbody
                %tr
                  - @doctors.each do|doctor|
                    %td
                      = doctor.userhm_id
                    %td
                      = doctor.id
                    %td
                      = doctor.name
                    %td
                      = doctor.phone_number
                    %tr
= link_to 'Back to Active Record Home', ar_home_path
