.nav-wrapper
  %ul.side-nav.fixed.hide-on-med-and-down
    %li
      = link_to "Home", root_path
    %li
      = link_to "HTML & CSS", static_pages_html_path
    %li
      = link_to "Testing", static_pages_development_path
    %li
      = link_to "Active Record", ar_home_path
    %li
      = link_to "Action Controller", ac_demos_home_path
    %li
      = link_to "Gems", gem_demos_path
  %a.hide-on-large-only.button-collapse{"data-activates" => "mobile-demo", :href => "#", style: 'color: black'}
    %i.material-icons
      menu
  %ul#mobile-demo.side-nav
    %li
      = link_to "Home", root_path
    %li
      = link_to "HTML & CSS", static_pages_html_path
    %li
      = link_to "Testing", static_pages_development_path
    %li
      = link_to "Active Record", ar_home_path
    %li
      = link_to "Action Controller", ac_demos_home_path
    %li
      = link_to "Gems", gem_demos_path
